<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:name=".BodyTuneApplication"
        android:allowBackup="false"
        android:label="BodyTune"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/OnboardingTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/AuthTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/AuthTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".BMICalculatorActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".WorkoutModuleActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".ExerciseListActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".ExerciseDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".WorkoutTimerActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".RunningTrackerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name=".RunningTrackerFreeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name=".CalorieTrackerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
        <activity
            android:name=".AddMealActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        
    </application>

</manifest>